img{
    height: 80px;
    width: 80px;
    padding: 4px;
    border: 2px solid gray;
    border-radius: 15px
   
}
p {
    background-color:whitesmoke;
    border-radius: 15px
 }
body{
background-image: url("https://www.infobae.com/new-resizer/DngBFBAQ3AD-U8-oDf5WDuVw2Jo=/1200x628/filters:format(webp):quality(85)//cloudfront-us-east-1.images.arcpublishing.com/infobae/2O5A2PM4EBGYXA7QP7FBAHSEV4.jpg");
background-size: 1600px 850px;
}
div{
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    color:black;
    width: 80px;
    text-align: center;
    width: 200px;
    margin: 0 auto
  }
button{
opacity: 0.6
border-radius: 15px
}    